<br-modal>
  <br-modal-header>
    <h3 class="modal-title">Sign In</h3>
  </br-modal-header>
  <br-modal-body>
    <br-demo-warning></br-demo-warning>
    <p ng-if="!$ctrl.newLogin" class="alert alert-warning">
      Your session has expired, please sign back in to continue.
    </p>
    <!-- FIXME: remove bootstrap alert classes -->
    <p ng-if="$ctrl.display.customWarning" class="alert alert-warning">
      {{$ctrl.display.customWarning}}
    </p>
    <div ng-repeat="method in $ctrl.displayOrder">
      <div ng-include="$ctrl.methods[method].template"></div>
      <hr ng-if="!$last" />
    </div>
  </br-modal-body>
  <br-modal-footer>
    <md-button ng-if="$ctrl.display.cancel" class="stackable-cancel"
      ng-disabled="$ctrl.loading">Cancel</md-button>
  </br-modal-footer>
</br-modal>
